.previewWrapper {
  float: right;
  height: 1000px;
  width: 600px;
  margin-top: 100px;
  margin-right: 100px;
  border: 1px solid;
  box-sizing: border-box;
}

.top {
  height: 200px;
  width: 100%;
  background-color: rgb(89, 160, 226);
  display: flex;
}

.image {
  height: 150px;
  width: 150px;
  margin: 25px;
  border: 1px solid;
  border-radius: 75px;
  box-sizing: border-box;
}

.nameWrapper {
  width: 300px;
  margin: 25px;
  word-wrap: break-word;
}

.detailsWrapper {
  flex: 1 1 0;
  margin-top: 25px;
  margin-right: 25px;
  text-align: right;
}

.border {
  border-bottom: 1px solid rgb(89, 160, 226);
  padding-bottom: 10px;
  margin: 0;
}

.wrapper {
  margin: 25px;
  word-break: break-all;
}

.flex {
  display: flex;
  align-items: center;
}

.text {
  flex: 1 1 0;
}

.companyWrapper {
  width: 100px;
  padding-right: 20px;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin-right: 10px;
  padding: 4px 8px;
  background-color: rgb(89, 160, 226);
  border-radius: 5px;
}

h5 {
  margin: 5px 0;
}